
*{
    background: red;
    color: white;
}

.center{
    text-align: center;
}

#burger_section{
    background: whitesmoke;
}

#form_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}