
*{
    background: red;
    color: white;
}

.center{
    text-align: center;
}

#burger_section{
    grid-area: bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

#form_section{
    grid-area: fs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "bs fs";
}

/* ingredienser */

#bread_top{
    display: block;
    width: 270px;
    height: 30px;
    margin: 2px;
    background: bisque;
    border-radius: 10px 10px 0px 0px;
    color: black;
}

#bread{
    display: block;
    width: 260px;
    height: 23px;
    margin: 2px;
    background: beige;
    border-radius: 10px;
    color: black;
}

#bread_bot{
    display: block;
    width: 270px;
    height: 30px;
    margin: 2px;
    background: bisque;
    border-radius: 0px 0px 10px 10px;
    color: black;
}

#patty{
    display: block;
    width: 260px;
    height: 30px;
    margin: 2px;
    background: brown;
    color: white;
}

#lettuce{
    display: block;
    width: 280px;
    height: 20px;
    margin: 2px;
    background: lightgreen;
    color: black;
}

#ketchup{
    display: block;
    width: 200px;
    height: 16px;
    margin: 2px;
    background: crimson;
    color: white;
}

#mustard{
    display: block;
    width: 200px;
    height: 16px;
    margin: 2px;
    background: gold;
    color: black;
}

#pickle{
    display: block;
    width: 120px;
    height: 20px;
    margin: 2px;
    border-radius: 100px / 50px;
    background: olivedrab;
    color: white;
}

#dressing{
    display: block;
    width: 250px;
    height: 16px;
    margin: 2px;
    background: moccasin;
    color: black;
}

#cheese{
    display: block;
    width: 270px;
    height: 16px;
    margin: 2px;
    background: yellow;
    color: black;
}